
label:not(.radio) {
  margin: 1em;
  font-weight: 700;
}

label.radio {
  margin: 0;
}

input, select {
  margin-inline-start: 1em;
}

.radio_item:not(:checked) {
    visibility: hidden;
}

/* .radio_item:checked {
    display: inline;
} */

p {
  font-style: italic;
}

div.settings {
  margin: 1em;
  border-bottom: 1px solid black;
}

a.settings {
  margin: 0.5rem;
}

pre {
    min-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
    white-space: nowrap;
    border: 1px solid;
}

pre:focus {
    white-space: pre-wrap;
}
